*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3F5FC;
}
.container {  
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: stretch;
    grid-template-areas:
        "left right-side";
}

.left {  

    display: grid;
    grid-template-columns: 0.43fr 1.57fr;
    grid-template-rows: 0.3fr 2fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-area: left;
}

.header { 
    grid-area: header;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header--img{
    height: 48px;
}
    

.footer { 
    grid-area: footer;
    background-color: lightblue;
 }

.main { 
    grid-area: main;
    background-color: aquamarine;
 }

 /* right side */
.right-side { 
    grid-area: right-side;
    background-color: #fff;

    display: grid;
    place-content: center;

    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 32px;
 }
.right-side--text{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
}
.right-side--text span{
    font-size: 16px;
    font-weight: 400;
    color: #495057;
}